/*@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;1,200&display=swap");*/
* {
  margin: 0%;
  padding: 0%;
}

.headbar {
  font-family: "Raleway";
  background-color: gray;
  color: white;
  height: 40px;
  padding: 20px;
  padding-top: 20px;
}
h1 {
  float: left;
  color: greenyellow;
  text-transform: capitalize;
}
.btn {
  float: right;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 4px 4px white;
  cursor: pointer;
}
.btn:hover {
  background-color: white;
  color: black;
  letter-spacing: 2px;
}

.row {
  margin: 40px;
}

.column {
  float: left;
  width: 25%;
  height: 30%;
  padding: 20px 20px;
  margin: 40px;
  padding: 10px;
  text-align: center;
  background-color: wheat;
  border-radius: 10px;
}

.column:hover {
  cursor: pointer;
  box-shadow: 0 15px 25px 0 black;
}

@media screen and (max-width: 805px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card-email {
  color: lightslategrey;
}
